<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper테그 : mapper 인터페이스의 메서드 매핑을 하기위한 경로지정 -->
<mapper namespace="com.boardService.mapper.BoardMapper">

	<!-- 여러 쿼리문에서 사용하기위해 boardColumns을 정의 -->
	<!-- 이후 include로 가져다 쓸 수 있다(코드가 간결해 진다! -->
	<sql id="boardColumns">
			idx
		,	title
		,	content
		,	writer
		,	view_cnt
		,	notice_yn
		,	secret_yn
		,	delete_yn
		,	insert_time
		,	update_time
		,	delete_time		
	</sql>
	
	<!-- public int insertBoard(BoardDTO params); 메서드를 수행할 쿼리문 -->
	<!-- 파라미터 타입이 BoardDTO로 통일 -->
	<insert id="insertBoard" parameterType="BoardDTO">
		INSERT INTO board (
			<include refid="boardColumns" />
		) VALUES (
				#{idx}
			,	#{title}
			,	#{content}
			,	#{writer}
			,	0
			,	IFNULL(#{noticeYn}, 'N')
			,	IFNULL(#{secretYn}, 'N')
			,	'N'
			,	NOW()
			,	NULL
			,	NULL
		)
	</insert>
	
	<!-- public BoardDTO selectBoardDetail(Long idx); 메서드를 수행할 쿼리문 -->
	<!-- 쿼리의 실행결과를 BoardDTO타입으로 지정 -->
	<!-- #{}은 파라미터로 받은 타입의 요소 -->
	<select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns" />
		FROM
			board
		WHERE
			delete_yn = 'N'
		AND
			idx = #{idx}
	</select>
	
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE
			board
		SET
				update_time = NOW()
			,	title = #{title}
			,	content = #{content}
			,	writer = #{writer}
			,	notice_yn = IFNULL(#{noticeYn}, 'N')
			,	secret_yn = IFNULL(#{secretYn}, 'N')
		WHERE
			idx = #{idx}
	</update>
	
	<update id="deleteBoard" parameterType="long">
		UPDATE
			board
		SET
				delete_yn = 'Y'
			,	delete_time = NOW()
		WHERE
			idx = #{idx}
	</update>
	
	<select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns" />
		FROM
			board
		WHERE
			delete_yn = 'N'
		ORDER BY
			notice_yn ASC,
			idx DESC,
			insert_time DESC
	</select>
	
	<select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			board
		WHERE
			delete_yn = 'N'
	</select>
	
</mapper>